<div class="nav">
    
    <a href="http://localhost:4200/"><h2 style="color: black;font-size: 25px;font-weight: 900; position: relative;right:450px;" >Read<strong style="color:#FFD369" >it.</strong> </h2></a>

<div class="links">

<a [routerLink]="['acasa']" routerLinkActive="active"  >Acasă</a>

<a [routerLink]="['articole']" routerLinkActive="active"  >Articole</a>

<a  [routerLink]="['echipa']" routerLinkActive="active" >Echipa</a>

<a  [routerLink]="['contact']" routerLinkActive="active">Contact</a>
</div>


<h2 style="color: white;">Salut!Bine ai venit la</h2>


<h1>Readit blog</h1>


<h3>Departe, departe de cuvântul munți, departe de țările Vokalia<br> și Consonantia, trăiesc textele oarbe. Separați locuiesc în <br>Bookmarksgrove chiar pe coasta semanticii, un ocean cu limbi mari.</h3>
<br><br><br>





</div>
    
