.about{

img{
    width:30%;
    position: relative;
    left:400px;
}
.p1{
    position: relative;
    left:1000px;
    bottom:550px;
    font-size: 15px;
    font-weight: 700;
    visibility: visible;
    color:#E6E6E6;
}




}